importFrom ("rworldmap", "getMap")
importFrom ("SPARQL", "SPARQL")
importFrom("graphics", "points")
importFrom("sp", "plot")
export("gssp.map")
export("gts.gssp")
export("gts.hierarchy")
export("gts.iscSchemes")
export("gts.level")
export("gts.list")
export("gts.listRegion")
export("gts.point")
export("gts")
export("gts.range")
export("gts.topo")
export("gts.within")

